
// Button Filled
.filled-button {
    width: 100%;
    margin: 0px 10px,
}

.red-border-button {
    width: 100%;
    border: solid 2px $red ;
    color: $red;
}

.red-border-button:active {
    background-color: lightgrey !important;
}

.purple-border-button {
    width: 100%;
    border: solid 2px $purple;
    color: $purple;
    font-size: small;
    width: fit-content;
    height: 36px;
}

.purple-border-button:active {
    background-color: lightgrey !important;
}

.back-button {
    background-color: $grey;
    width: 50%;
    padding: 5px;
    font-size: 12px;
}