.MuiBottomNavigationAction-label.Mui-selected,
.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
    font-weight: bold;
    color: black;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root:not(.Mui-selected) {
    color: #AFAFAF;
}

.Mui-focused>.MuiOutlinedInput-notchedOutline {
    border: solid 1.5px black !important;
}

span.MuiTabs-indicator {
    background-color: $purple;
}

button.tab-option:not(.Mui-selected) {
    color: $grey;
}

button.tab-option.Mui-selected {
    color: $purple;
    font-weight: bold;
}

.MuiTabPanel-root {
    padding: 15px 0px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.Mui-readOnly.MuiInputBase-readOnly>input {
    padding: 8.5px 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-sizeSmall.MuiInputBase-adornedEnd {
    margin-bottom: 10px;
}
span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary {
    color: $green;
}