// Theme Colours
$white: #fff !important;
$purple: #93469F !important;
$purple-light:  #ecdeef!important;
$purple-dark: #75397E!important;
$orange: #FF9500!important;
$green: #4CAF50!important;
$green-light: #CEE6CF!important;
$red: #EF0808!important;
$grey:  #7F7F7F!important;

.background-purple{
    background-color: $purple;
}
.background-purple-light{
    background-color: $purple-light;
}
.background-purple-dark{
    background-color: $purple-dark;
}
.background-grey{
    background-color: $grey;
}
.background-green{
    background-color: $green;
}
.background-green-light{
    background-color: $green-light;
}
.background-orange{
    background-color: $orange;
}
.background-red{
    background-color: #EF0808;
}
