// Theme Colours
$white: #fff!default;
$purple: #93469F !default;
$purple-light:  #ecdeef!default;
$purple-dark: #75397E!default;
$orange: #FF9500!default;
$green: #4CAF50!default;
$green-light: #CEE6CF!default;
$red: #EF0808!default;
$grey:  #7F7F7F!default;

.background-purple-light{
    background-color: $purple-light;
}

.background-green-light{
    background-color: $green-light;
}