// Theme Colours
$white: #fff!default;
$purple: #93469F !default;
$purple-light:  #E4CFE8!default;
$purple-dark: #75397E!default;
$orange: #FF9500!default;
$grey:  #7F7F7F!default;
$green: #4CAF50!default;
$green-light: #CEE6CF!default;
$red: #EF0808!default;

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

// Buttons filled
.purple-button{
    background-color: $purple;
}
.purple-button:hover{
    background-color: darken($purple, 10%);
}
.orange-button{
    background-color: $orange;
}
.orange-button:hover{
    background-color: darken($orange, 10%);
}
.green-button{
    background-color: $green;
}
.green-button:hover{
    background-color: darken($green, 10%);
}
.grey-button{
    background-color: $grey;
}
.grey-button:hover{
    background-color: darken($grey, 10%);
}